<%= form_for @entry do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.date_select :date %>
  </p>
<div>
	<h2> Day </h2>
  <p>
    <%= f.label :goal, "What is my goal for today?" %><br />
    <%= f.text_area :goal, :maxlength => 130, :class => :inputtext %>
  </p>
  <p>
    <%= f.label :give, "What am I willing to give to others around me?" %><br />
    <%= f.text_area :give %>
  </p>
	<p> 10 things that I am grateful for: </p>
  <p>
    <%= f.label :grateful_one, "1." %>
    <%= f.text_field :grateful_one, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_two, "2." %>
    <%= f.text_field :grateful_two, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_three, "3." %>
    <%= f.text_field :grateful_three, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_four, "4." %>
    <%= f.text_field :grateful_four, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_five, "5." %>
    <%= f.text_field :grateful_five, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_six, "6." %>
    <%= f.text_field :grateful_six, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_seven, "7." %>
    <%= f.text_field :grateful_seven, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_eight, "8." %>
    <%= f.text_field :grateful_eight, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_nine, "9." %>
    <%= f.text_field :grateful_nine, :maxlength => 130 %>
  </p>
  <p>
    <%= f.label :grateful_ten, "10." %>
    <%= f.text_field :grateful_ten, :maxlength => 130, :class => :tenthinput %>
  </p>
  <p>
    <%= f.label :thanks, "Who do I thank for something I have today? Why?" %><br />
    <%= f.text_area :thanks, :class => :inputtext %>
  </p>
  <p>
    <%= f.label :happy, "Why am I happy?" %><br />
    <%= f.text_field :happy, :class => :inputtext %>
  </p>
</div>
<div style="float: right; margin-top: -790px;">
	<h2>Night</h2>
  <p>
    <%= f.label :evaluation, "How well did I do it trying to reach my goal?" %><br />
    <%= f.text_field :evaluation, :class => :inputtext %>
  </p>
  <p>
    <%= f.label :improvement, "What did I learn that added value to my day?" %><br />
    <%= f.text_field :improvement, :class => :inputtext %>
  </p>
  <p>
    <%= f.label :happier, "If I could be happier, why would it be?" %><br />
    <%= f.text_field :happier, :class => :inputtext %>
  </p>
  <p>
    <%= f.label :still_pending, "Which pending activities do I have?" %><br />
    <%= f.text_field :still_pending, :class => :inputtext  %>
  </p>
  <p>
    <%= f.label :greeting, "Who should I greet? (birthdays, anniversaries, special events)" %><br />
    <%= f.text_field :greeting, :class => :inputtext  %>
  </p>
  <%= f.submit :class => :inputbutton %>
<% end %>
