<% title "Usuarios" %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% for usuario in @usuarios %>
    <tr>
      <td><%= usuario.name %></td>
      <td><%= usuario.email %></td>
      <td><%= link_to "Show", usuario %></td>
      <td><%= link_to "Edit", edit_usuario_path(usuario) %></td>
      <td><%= link_to "Destroy", usuario, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Usuario", new_usuario_path %></p>
