<% title "Usuario" %>

<p>
  <strong>Name:</strong>
  <%= @usuario.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <%= link_to "Edit", edit_usuario_path(@usuario) %> |
  <%= link_to "Destroy", @usuario, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", usuarios_path %>
</p>
